services:
  admin:
    image: kevinad/dreamsite-admin:3.0.0-rc2  # Image stable de production
    restart: always
    env_file: .env
    environment:
      DATABASE_CLIENT: mysql
      DATABASE_HOST: db
      DATABASE_PORT: 3306
      DATABASE_NAME: ${DATABASE_NAME}
      DATABASE_USERNAME: ${DATABASE_USERNAME}
      DATABASE_PASSWORD: ${DATABASE_PASSWORD}
      DATABASE_SSL: 'false'
      # Configuration de sécurité Strapi
      APP_KEYS: ${APP_KEYS}
      API_TOKEN_SALT: ${API_TOKEN_SALT}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      TRANSFER_TOKEN_SALT: ${TRANSFER_TOKEN_SALT}
    volumes:
      - ./back/config:/app/config  # Garde la configuration Strapi
      - ./back/public/uploads:/app/public/uploads  # Conserve les fichiers uploadés
      - ./back/src/plugins:/app/src/plugins  # Conserve les plugins installés
    ports:
      - '1337:1337'  # Expose Strapi en prod sur le port 1337
    depends_on:
      - db

  db:
    image: mysql:5.7  # Utilisation de MySQL 5.7 comme demandé
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DATABASE_NAME}
      MYSQL_USER: ${DATABASE_USERNAME}
      MYSQL_PASSWORD: ${DATABASE_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql  # Stockage persistant pour la base de données
    networks:
      - backend

volumes:
  db_data:  # Stockage persistant pour MySQL

networks:
  backend:
    driver: bridge
